.books ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.book {
  width: 80%;
  display: flex;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  line-height: 2;
}

.book img {
  width: 150px;
  height: auto;
  margin-right: 2rem;
}

.book h3 {
  font-weight: 600;
}

.book span:not(:last-child) {
  margin-right: 5px;
}

.book a {
  color: var(--blue002);
}

.book i {
  font-size: 90%;
  margin-right: 3px;
}

/* Mobile */

@media not all and (min-width: 640px) {
}

/* Tablet */

@media not all and (min-width: 1536px) {
}

@media not all and (min-width: 1280px) {
}

@media not all and (min-width: 780px) {
  .book {
    display: block;
    text-align: center;
    font-size: 90%;
  }

  .book img {
    width: 100px;
    height: auto;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
