html {
  --white: #ffffff;
  --gray001: #dcdde1;
  --gray002: #7f8fa6;
  --gray003: #718093;
  --purple: #8c7ae6;
  --blue001: #0097e6;
  --blue002: #487eb0;
  --red: #c23616;
  --black001: #353b48;
  --black002: #2f3640;
  --navy: #273c75;
}
