main {
  padding: 2rem;
}

.msg,
.msg-mobile {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--purple);
  color: var(--white);
}

.msg-mobile {
  font-size: 90%;
  display: none;
}

/* Mobile */

@media not all and (min-width: 780px) {
  main {
  }

  .msg {
    display: none;
  }

  .msg-mobile {
    display: block;
    line-height: 1.6;
  }
}
